body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 50px;
}

.todo-box {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px;
  cursor: pointer;
}

li {
  margin: 10px 0;
}
