body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 50px;
}

.todo-box {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px;
  cursor: pointer;
}

li {
  margin: 10px 0;
}
li {
  margin: 10px 0;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: #94a3b8;
}

.delete-btn {
  margin-left: 10px;
  background: crimson;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}
